# Introduction to NumPy

In [1]:
import numpy as np

## 1. Datatypes & Attributes

In [2]:
# Main datatype is ndarray (n-dimensional array)
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [3]:
type(a1)

numpy.ndarray

In [4]:
a2 = np.array([[1,2.2,3.3],
              [4.4,5,6.6]])

a3 = np.array([[[1,2,3],
               [4,5,6],
               [7,8,9]],
              [[9,8,7],
              [6,5,4],
              [3,2,1]]])

a2

array([[1. , 2.2, 3.3],
       [4.4, 5. , 6.6]])

In [5]:
a3

array([[[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]],

       [[9, 8, 7],
        [6, 5, 4],
        [3, 2, 1]]])

In [6]:
a1.shape

(3,)

In [7]:
a2.shape

(2, 3)

In [8]:
a3.shape

(2, 3, 3)

In [9]:
a1.ndim, a2.ndim, a3.ndim
# prints (dimension of a1, a2, a3)

(1, 2, 3)

In [10]:
a1.dtype, a2.dtype, a3.dtype

(dtype('int32'), dtype('float64'), dtype('int32'))

In [11]:
a1.size, a2.size, a3.size
# number of elements in array

(3, 6, 18)

## 2. Create a DataFrame from numpy array

In [12]:
import pandas as pd

In [13]:
df = pd.DataFrame(a2)

In [14]:
df

     0    1    2
0  1.0  2.2  3.3
1  4.4  5.0  6.6

## Creating arrays

In [15]:
arr = np.array([1,2,3])
arr

array([1, 2, 3])

In [16]:
ones = np.ones((4,2))
ones

array([[1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

In [17]:
ones.dtype

dtype('float64')

In [18]:
zeros = np.zeros((3,2))
zeros

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [19]:
range_array = np.arange(1, 10, 3)
range_array

array([1, 4, 7])

In [20]:
random_array = np.random.randint(0, 10, size=(3,4))
random_array

array([[0, 8, 6, 5],
       [7, 7, 6, 4],
       [7, 2, 4, 8]])

In [21]:
arr2 = np.random.random((2,2))
arr2

array([[0.86202661, 0.8267964 ],
       [0.18733059, 0.38878327]])

In [22]:
# pseudo random numbers
np.random.seed(seed=0)
arr4 = np.random.randint(10, size=(5,3))
arr4

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

Seed=0 makes sure this random array stays the same everytime the cell is executed

## 3. Viewing Arrays and Matrices

In [24]:
# Unique func gives unique elements of the array
np.unique(arr4)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [25]:
a3

array([[[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]],

       [[9, 8, 7],
        [6, 5, 4],
        [3, 2, 1]]])

In [27]:
a3[0]

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [28]:
a3[0][2]

array([7, 8, 9])

In [29]:
a3[0][2][1]

8

In [31]:
a3[:2, :2]
# gives first 2 values each row and columnn

array([[[1, 2, 3],
        [4, 5, 6]],

       [[9, 8, 7],
        [6, 5, 4]]])

In [32]:
a4 = np.random.randint(10, size=(2,3,4,5))

In [33]:
a4

array([[[[6, 7, 7, 8, 1],
         [5, 9, 8, 9, 4],
         [3, 0, 3, 5, 0],
         [2, 3, 8, 1, 3]],

        [[3, 3, 7, 0, 1],
         [9, 9, 0, 4, 7],
         [3, 2, 7, 2, 0],
         [0, 4, 5, 5, 6]],

        [[8, 4, 1, 4, 9],
         [8, 1, 1, 7, 9],
         [9, 3, 6, 7, 2],
         [0, 3, 5, 9, 4]]],


       [[[4, 6, 4, 4, 3],
         [4, 4, 8, 4, 3],
         [7, 5, 5, 0, 1],
         [5, 9, 3, 0, 5]],

        [[0, 1, 2, 4, 2],
         [0, 3, 2, 0, 7],
         [5, 9, 0, 2, 7],
         [2, 9, 2, 3, 3]],

        [[2, 3, 4, 1, 2],
         [9, 1, 4, 6, 8],
         [2, 3, 0, 0, 6],
         [0, 6, 3, 3, 8]]]])

In [35]:
# Get access to first 4 numbers on the inner most arrays.

a4[:,:,:,:1]

array([[[[6],
         [5],
         [3],
         [2]],

        [[3],
         [9],
         [3],
         [0]],

        [[8],
         [8],
         [9],
         [0]]],


       [[[4],
         [4],
         [7],
         [5]],

        [[0],
         [0],
         [5],
         [2]],

        [[2],
         [9],
         [2],
         [0]]]])

## 4.1. Manipulating & Comparing Arrays

### Arithmetic

In [36]:
a1

array([1, 2, 3])

In [39]:
ones = np.ones(3)
ones

array([1., 1., 1.])

In [40]:
a1 + ones

array([2., 3., 4.])

In [41]:
a1 - ones

array([0., 1., 2.])

In [42]:
a1*ones

array([1., 2., 3.])

In [43]:
a1*4

array([ 4,  8, 12])

In [44]:
a2

array([[1. , 2.2, 3.3],
       [4.4, 5. , 6.6]])

In [45]:
a1 + a2

array([[2. , 4.2, 6.3],
       [5.4, 7. , 9.6]])

In [46]:
a1*a2

array([[ 1. ,  4.4,  9.9],
       [ 4.4, 10. , 19.8]])

But, array multiplication doesn't give this answer.

Let's try multiplying a2 and a3

In [47]:
try:
    a2*a3
except Exception as e:
    print(e)

operands could not be broadcast together with shapes (2,3) (2,3,3)

In [48]:
a1/ones

array([1., 2., 3.])

In [50]:
a2

array([[1. , 2.2, 3.3],
       [4.4, 5. , 6.6]])

In [49]:
a2/a1

array([[1. , 1.1, 1.1],
       [4.4, 2.5, 2.2]])

In [51]:
a2 ** 2

array([[ 1.  ,  4.84, 10.89],
       [19.36, 25.  , 43.56]])

In [52]:
np.square(a2)

array([[ 1.  ,  4.84, 10.89],
       [19.36, 25.  , 43.56]])

In [53]:
np.add(a1, a2)

array([[2. , 4.2, 6.3],
       [5.4, 7. , 9.6]])

In [56]:
a2 % 2

array([[1. , 0.2, 1.3],
       [0.4, 1. , 0.6]])

In [57]:
np.exp(a2)

array([[  2.71828183,   9.0250135 ,  27.11263892],
       [ 81.45086866, 148.4131591 , 735.09518924]])

In [58]:
np.log(a2)

array([[0.        , 0.78845736, 1.19392247],
       [1.48160454, 1.60943791, 1.88706965]])

## 4.2. Manipulating & Comparing Arrays (Part-2)

### Aggregation

Aggregation = performing the same operation on a number on things

In [59]:
list1 = [1,2,3]
type(list1)

list

In [60]:
a1

array([1, 2, 3])

In [61]:
type(a1)

numpy.ndarray

In [66]:
sum(a1)

6

In [65]:
np.sum(a1)

6

Use python's method (`sum()`) on python datatypes and use NumPy's methods on NumPy arrays (`np.sum()`)

In [67]:
# Create a massive numpy array
mass_arr = np.random.random(100000)
mass_arr.size

100000

In [68]:
mass_arr[:10]

array([0.16494046, 0.36980809, 0.14644176, 0.56961841, 0.70373728,
       0.28847644, 0.43328806, 0.75610669, 0.39609828, 0.89603839])

In [69]:
%timeit sum(mass_arr) # python's sum
%timeit np.sum(mass_arr) # numpy's sum

19.8 ms ± 260 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
114 µs ± 1.25 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

Numpy's sum is **faster** than python's sum.

In [70]:
a2

array([[1. , 2.2, 3.3],
       [4.4, 5. , 6.6]])

In [71]:
np.mean(a2)

3.75

Standard Deviation = a measure of how spread out a group og numbers is from the mean

In [77]:
np.std(a2)

1.8382509803252292

Variance = measure of the avg degree to which each number is different to it's mean.
Higher variance = wider range of numbers
Lower variance = narrow/close range of numbers

In [74]:
np.var(a2)

3.3791666666666664

Standard deviation = square root of Variance

In [76]:
np.square(np.std(a2))

3.379166666666666